* {
  margin: 0;
}

*[data-animation="closeSlideLeft"] {
  animation: closeSlideLeft .5s ease-in forwards;
}

*[data-animation="closeSlideRight"] {
  animation: closeSlideRight .5s ease-in forwards;
}

*[data-animation="comeSlideLeft"] {
  animation: comeSlideLeft .5s ease-in forwards;
}

*[data-animation="comeSlideRight"] {
  animation: comeSlideRight .5s ease-in forwards;
}

*[data-animation="closeSlideLeftDesktop"] {
  animation: closeSlideLeftDesktop .5s ease-in forwards;
}

*[data-animation="comeSlideLeftDesktop"] {
  animation: comeSlideLeftDesktop .5s ease-in forwards;
}

*[data-animation="comeSlideLeftDelay"] {
  animation: comeSlideLeft .5s 4.5s ease-in forwards;
}

*[data-animation="closeSlideRightDelay"] {
  animation: closeSlideRight .5s 4.5s ease-in forwards;
}

*[data-animation="comeSlideUp"] {
  animation: comeSlideUp .5s ease-in forwards;
}

*[data-animation="closeSlideUp"] {
  animation: closeSlideUp .5s ease-in forwards;
}

@keyframes bar--1 {
  0% {
    top: -13.5px;
  }
  50% {
    top: 0;
    transform: rotateZ(0);
  }
  100% {
    top: 0;
    transform: rotateZ(45deg);
  }
}

@keyframes bar--2 {
  0% {
    top: 13.5px;
  }
  50% {
    top: 0;
    transform: rotateZ(0);
  }
  100% {
    top: 0;
    transform: rotateZ(-45deg);
  }
}

@keyframes bar--3 {
  0% {
    top: 0;
    transform: rotateZ(45deg);
  }
  50% {
    top: 0;
    transform: rotateZ(0);
  }
  100% {
    top: -13.5px;
  }
}

@keyframes bar--4 {
  0% {
    top: 0;
    transform: rotateZ(-45deg);
  }
  50% {
    top: 0;
    transform: rotateZ(0);
  }
  100% {
    top: 13.5px;
  }
}

@keyframes comeSlideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes comeSlideLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes closeSlideRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes closeSlideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes comeSlideLeftDesktop {
  from {
    transform: translateX(-35%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes closeSlideLeftDesktop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-35%);
  }
}

@keyframes anim {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

body {
  line-height: 1.6;
  font-size: 18px;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  color: #333;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

body[data-chapitre="intro"] .chapitre--intro {
  display: block;
}

body[data-chapitre="intro"] .btn__text--nav {
  background-color: #000;
}

body[data-chapitre="intro"] .btn__text--nav:after {
  background-color: #000;
}

body[data-chapitre="intro"] .btn__text--nav:before {
  background-color: #000;
}

body[data-chapitre="debuts"] .chapitre--debuts {
  display: block;
}

body[data-chapitre="debuts"] .btn__text--nav {
  background-color: #000;
}

body[data-chapitre="debuts"] .btn__text--nav:after {
  background-color: #000;
}

body[data-chapitre="debuts"] .btn__text--nav:before {
  background-color: #000;
}

body[data-chapitre="prohibition"] .chapitre--prohibition {
  display: block;
}

body[data-chapitre="souffle"] .chapitre--souffle {
  display: block;
}

body[data-chapitre="jours"] .chapitre--jours {
  display: block;
}

body[data-load="true"] {
  overflow: hidden;
}

body[data-load="true"] .addon--load {
  opacity: 1;
}

body[data-load="true"] .addon--load svg {
  animation: anim 1.8s ease-in;
}

body[data-nav="true"] {
  overflow: hidden;
}

body[data-nav="true"] .addon--nav {
  pointer-events: all;
}

body[data-nav="true"] .chapitre {
  position: fixed;
  transition: all .5s ease-in;
}

body[data-nav="true"] .btn__text--nav {
  background-color: transparent;
  transition: all .1s ease-in;
}

body[data-nav="true"] .btn__text--nav:before {
  background-color: #fff;
  animation: bar--1 .3s forwards;
  transition: all .4s ease-in;
}

body[data-nav="true"] .btn__text--nav:after {
  background-color: #fff;
  animation: bar--2 .3s forwards;
  transition: all .4s ease-in;
}

body[data-info="true"] {
  overflow: hidden;
}

body[data-desknav="true"] .addon--nav {
  animation: comeSlideLeft 0.5s ease-in forwards;
}

body[data-page^="page-"] .nav__container {
  -ms-flex-pack: center;
  justify-content: center;
}

body[data-page^="page-"] .nav__title {
  margin-bottom: 50px;
}

body[data-page^="page-"] .chapitre {
  display: block;
}

body[data-page^="page-"] .btn--nav {
  position: fixed;
}

body[data-page^="page-"] .btn__text--nav {
  background-color: #000;
}

body[data-page^="page-"] .btn__text--nav:before {
  background-color: #000;
}

body[data-page^="page-"] .btn__text--nav:after {
  background-color: #000;
}

body[data-page^="page-"][data-nav="true"] .btn__text--nav {
  background-color: transparent;
}

body[data-page^="page-"][data-nav="true"] .btn__text--nav:before {
  background-color: #fff;
}

body[data-page^="page-"][data-nav="true"] .btn__text--nav:after {
  background-color: #fff;
}

body[data-page="page-propos"] h2 {
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

iframe {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

button:focus {
  outline: 0;
}

.sansserif {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.italic {
  font-style: italic;
}

.bold {
  text-transform: none;
  font-weight: 800;
}

.overflow {
  overflow: hidden;
}

.color {
  color: #E22323;
}

.block {
  display: block;
}

.cls-1 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 2;
}

.st0 {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  stroke-miterlimit: 100;
}

.addon {
  width: 100vw;
  height: calc(100vh - 20px);
  position: fixed;
  top: 0;
  left: 0;
}

.addon--nav {
  padding: 20px 0px 0px 0px;
  background-image: url(../assets/images/landing--menu-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 20;
  pointer-events: none;
}

.addon--message {
  z-index: 30;
  height: 100vh;
  background: url(../assets/images/landing--sound-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
}

.addon--load {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-out;
  height: 100vh;
  background-color: #f6f4f2;
  z-index: 80;
  display: -ms-flexbox;
  display: flex;
}

.addon--load svg {
  margin: auto;
  height: 200px;
  width: 200px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}

.addon--info {
  min-height: 100vh;
  max-height: 100%;
  background-color: #f6f4f2;
  z-index: 15;
  overflow-y: scroll;
}

.addon--recette {
  min-height: 100vh;
  max-height: 100%;
  background-color: #f6f4f2;
  z-index: 15;
  overflow-y: scroll;
}

.info__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 40vh;
  width: 100%;
  position: relative;
  margin-bottom: 2em;
  margin-top: -40px;
}

.info__top button {
  margin-right: 15px;
  margin-top: 15px;
}

.info__background {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  background-image: url(../assets/images/jerry-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.info__sub {
  position: absolute;
  bottom: -2em;
  left: 20px;
  font-size: .8em;
}

.info__title {
  margin-bottom: 1em;
  font-weight: 800;
  font-size: 2em;
}

.info__title:first-letter {
  color: #E22323;
}

.info__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
}

.info__text p {
  margin-bottom: 1em;
}

.info--link {
  text-transform: none;
}

.recette {
  display: none;
}

.recette--active {
  display: block;
}

.recette__top {
  text-align: center;
  margin-top: -40px;
}

.recette__title {
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  z-index: 5;
}

.recette__title:first-letter {
  color: #E22323;
}

.recette__background {
  height: 40vh;
  background-image: url(../assets/images/jerry-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.recette__background button {
  margin-right: 15px;
  margin-top: 15px;
  z-index: 5;
}

.recette__nav {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
}

.recette__link {
  text-transform: capitalize;
  transition: all .3s ease-in;
  font-weight: 800;
}

.recette__link--active {
  border-bottom: 3px solid #E22323;
  transition: all .3s ease-out;
}

.recette__link:nth-child(1) {
  margin-right: 40px;
}

.recette__ingredients {
  padding: 15px 50px 30px 50px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  position: relative;
}

.recette__ingredients:after {
  content: '';
  width: 50%;
  height: 3px;
  background-color: #E22323;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.recette__ingredients li {
  width: 45%;
  margin-top: 15px;
}

.recette__etapes {
  padding: 30px;
}

.recette__el {
  margin-bottom: 1.5em;
}

.recette__content h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.recette__content p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
}

.recette__histoire {
  padding: 30px;
}

.recette__histoire p {
  margin-bottom: 20px;
}

.message {
  margin: auto;
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.message__logo {
  width: 40%;
}

.message__content {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

.btn {
  padding: 0;
  border: none;
  background: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn--nav {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 15px;
  right: 15px;
  z-index: 25;
}

.btn__text--nav {
  height: 3px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  top: 13.5px;
  left: 0;
  transition: all .3s ease-out;
}

.btn__text--nav:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 30px;
  top: 13.5px;
  left: 0;
  background-color: #fff;
  animation: bar--3 .3s forwards;
  transition: all .3s ease-out;
}

.btn__text--nav:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 30px;
  top: -13.5px;
  left: 0;
  background-color: #fff;
  animation: bar--4 .3s forwards;
  transition: all .3s ease-out;
}

.btn--close {
  background-image: url("../assets/images/svg/svg--cross.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-90deg);
  height: 40px;
  width: 40px;
}

.btn__arrow {
  background-image: url("../assets/images/svg/svg--arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

.btn__arrow--white {
  background-image: url("../assets/images/svg/svg--arrow--white.svg");
}

.btn--info {
  position: sticky;
  position: -webkit-sticky;
  top: 25px;
  left: 0;
  z-index: 30;
  margin-left: 85%;
}

.btn--music {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border: 3px solid #000;
  background-color: #f6f4f2;
  transition: .3s all ease-out;
  z-index: 10;
}

.nav__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: inherit;
}

.nav__title {
  padding-left: 20px;
  line-height: 1.2;
}

.nav__el {
  overflow: hidden;
  position: relative;
  padding-left: 20px;
}

.nav__el p {
  font-family: 'Montserrat', sans-serif;
  color: #b3b3b3;
}

.nav__dots {
  display: none;
}

.nav__heaj {
  display: none;
}

.nav__home {
  display: none;
}

.nav__progress {
  display: none;
}

.nav__content {
  background-image: linear-gradient(#E22323 33%, rgba(226, 35, 35, 0) 0%);
  background-position: left;
  background-size: 2px 5px;
  background-repeat: repeat-y;
  padding-bottom: 20px;
  padding-left: 30px;
  display: inline-block;
}

.nav__content:before {
  content: '';
  width: 10px;
  height: 10px;
  background: #E22323;
  position: absolute;
  left: 16px;
  top: 1ch;
  border-radius: 100%;
}

.nav__content--active:after {
  content: '';
  width: 14px;
  height: 14px;
  background: transparent;
  border: #E22323 solid 1px;
  position: absolute;
  left: 13px;
  top: .7ch;
  border-radius: 100%;
}

.nav__content p {
  font-size: .8em;
}

.nav__links {
  text-align: center;
}

.nav__link {
  color: #E22323;
  border-right: 1px solid #E22323;
  padding: 0px 15px;
}

.nav__link:last-child {
  border: none;
}

.chapitre {
  width: 100%;
  display: none;
}

.chapitre--intro {
  position: fixed;
}

.chapitre--aside {
  background-color: #f6f4f2;
}

.chapitre--aside h2 {
  font-size: 2.8em;
  margin-bottom: 32px;
}

.chapitre--aside h3 {
  font-size: 2.2em;
  line-height: 1;
  margin-bottom: 32px;
}

.chapitre--aside h4 {
  font-size: 1.4em;
}

.chapitre--aside a {
  position: relative;
  transition: all .3s ease-in;
  padding-bottom: 2px;
}

.chapitre--aside a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E22323;
  transform: scaleX(0);
  transform-origin: center center;
  transition: all .3s ease-in;
}

.chapitre--aside a:hover {
  color: #E22323;
  transition: all .3s ease-in;
}

.chapitre--aside a:hover:before {
  transform: scaleX(1);
  transition: all .3s ease-in;
}

.box {
  overflow: hidden;
  max-height: 100vh;
  max-width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.box__background {
  height: 130%;
  width: 150%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  margin-left: -25%;
  margin-top: -20%;
  z-index: -1;
}

.box__background--intro {
  background-image: url(../assets/images/base/landing--intro-min.jpg);
}

.box__background--rencontre {
  background-image: url(../assets/images/base/background--rencontre-min.jpg);
}

.box__background--debuts {
  background-image: url(../assets/images/base/landing--debuts-min.jpg);
}

.box__background--prohibition {
  background-image: url(../assets/images/base/landing--prohibition-min.jpg);
}

.box__background--souffle {
  background-image: url(../assets/images/base/landing--souffle-min.jpg);
}

.box__background--jours {
  background-image: url(../assets/images/base/landing--jours-min.jpg);
}

.box__background--jerry {
  background-image: url(../assets/images/base/background--jerry-min.jpg);
}

.box__background--paris {
  background-image: url(../assets/images/base/background--paris-min.jpg);
}

.box__background--mary {
  background-image: url(../assets/images/base/background--mary-min.jpg);
}

.box__background--cuba {
  background-image: url(../assets/images/base/background--cuba-min.jpg);
}

.box__background--vodka {
  background-image: url(../assets/images/base/background--vodka-min.jpg);
}

.box__background--flair {
  background-image: url(../assets/images/base/background--flair-min.jpg);
}

.box__background--mode {
  background-image: url(../assets/images/base/background--mode-min.jpg);
}

.box__background--crise {
  background-image: url(../assets/images/base/background--crise-min.jpg);
}

.box__background--hidden {
  display: none;
}

.box__content {
  width: 100%;
  margin: auto;
}

.box__content--white {
  color: #fff;
}

.box__content--chapitre {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: inherit;
}

.box__content--landing {
  height: inherit;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.box__content--next {
  margin: 0;
  text-align: center;
}

.box--landing {
  height: 100vh;
  width: 100%;
}

.box--rencontre {
  height: 60vh;
}

.box--next {
  height: 30vh;
  width: 100%;
  background-color: #f6f4f2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-direction: column;
  flex-direction: column;
}

.box--padding {
  padding: 39px 20px 49px 20px;
}

.box--color {
  background-color: #f6f4f2;
}

.box--colorDesktop {
  background-color: #f6f4f2;
}

.box--martini {
  position: relative;
  overflow: hidden;
}

.box--martini:after {
  content: '';
  height: 150px;
  width: 130px;
  position: absolute;
  bottom: -15px;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../assets/images/base/glass--debuts-min.jpg);
  background-position: top center;
}

.box--margerita {
  position: relative;
  overflow: hidden;
}

.box--margerita:after {
  content: '';
  height: 170px;
  width: 150px;
  position: absolute;
  bottom: -50px;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/images/base/glass--souffle-min.jpg");
}

.box--aside {
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.box--aside button {
  display: none;
}

.jerry img {
  height: auto;
  width: 100%;
}

.jerry p {
  margin-bottom: 20px;
  font-size: .8em;
}

.flair {
  margin-bottom: 20px;
}

.flair video {
  height: auto;
  width: 100%;
}

.landing {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.landing__head {
  margin: auto;
  width: 80%;
  text-align: center;
}

.landing__title {
  font-size: 3em;
  line-height: 1.2;
  font-weight: 800;
}

.landing__sub {
  margin-top: 20px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

.landing__scroll {
  text-align: center;
}

.landing__scroll p:nth-child(1) {
  font-size: 1.2em;
}

.landing__scroll p:nth-child(2) {
  font-size: 1.8em;
  font-weight: 800;
}

.landing__chapitre p {
  font-size: 1em;
}

.landing__chapitre h2 {
  font-size: 2.5em;
  line-height: 1.4;
  font-weight: 800;
}

.rencontre__content {
  margin: auto 1em;
  width: 80%;
}

.rencontre__title {
  font-size: 2em;
}

.rencontre__text {
  margin-top: 1.5em;
  line-height: 1.6;
}

.next__content {
  text-align: center;
  display: inline-block;
}

.next__title {
  font-size: 2.5em;
  line-height: 1.4;
  font-weight: 800;
}

.next__sub {
  font-family: 'Montserrat', sans-serif;
}

.citation {
  position: relative;
}

.citation__content {
  font-size: 1.6em;
  font-weight: 800;
  padding-top: 50px;
  margin-bottom: 26px;
  position: relative;
}

.citation__content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/images/svg/svg--quote.svg");
}

.citation__author {
  font-size: .8em;
  font-style: normal;
}

.more {
  display: none;
}

.video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.video video {
  height: auto;
  width: 100vw;
}

.aside__text {
  margin-bottom: 2em;
}

.aside__text p {
  margin-bottom: 1.5em;
}

.aside__site {
  margin-bottom: 25px;
}

.aside__list {
  margin-bottom: 50px;
}

.study h2 {
  font-size: 2.618em;
  margin-bottom: 50px;
  margin-top: 32px;
  font-weight: 800;
  line-height: 1.2;
}

.study h3 {
  font-size: 1.618em;
  margin-bottom: 32px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

.study__intro {
  margin-bottom: 60px;
}

.study__content {
  margin-bottom: 60px;
}

.study__picture {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  box-shadow: 3px 3px 10px 0px #ccc;
}

.study__example {
  margin: 30px 0px;
  padding: 10px;
  border: 1px solid #666;
}

.study__t {
  font-size: 1.5em;
  margin-bottom: 18px;
}

.study__sub {
  text-align: center;
  margin-bottom: 10px;
}

.study__list {
  margin-top: 30px;
}

.study__contact {
  margin-top: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .box__background--intro {
    background-image: url(../assets/images/base/landing--intro@2x-min.jpg);
  }
  .box__background--rencontre {
    background-image: url(../assets/images/base/background--rencontre@2x-min.jpg);
  }
  .box__background--debuts {
    background-image: url(../assets/images/base/landing--debuts@2x-min.jpg);
  }
  .box__background--prohibition {
    background-image: url(../assets/images/base/landing--prohibition@2x-min.jpg);
  }
  .box__background--souffle {
    background-image: url(../assets/images/base/landing--souffle@2x-min.jpg);
  }
  .box__background--jours {
    background-image: url(../assets/images/base/landing--jours@2x-min.jpg);
  }
  .box__background--jerry {
    background-image: url(../assets/images/base/background--jerry@2x-min.jpg);
  }
  .box__background--paris {
    background-image: url(../assets/images/base/background--paris@2x-min.jpg);
  }
  .box__background--mary {
    background-image: url(../assets/images/base/background--mary@2x-min.jpg);
  }
  .box__background--cuba {
    background-image: url(../assets/images/base/background--cuba@2x-min.jpg);
  }
  .box__background--vodka {
    background-image: url(../assets/images/base/background--vodka@2x-min.jpg);
  }
  .box__background--flair {
    background-image: url(../assets/images/base/background--flair@2x-min.jpg);
  }
  .box__background--mode {
    background-image: url(../assets/images/base/background--mode@2x-min.jpg);
  }
  .box__background--crise {
    background-image: url(../assets/images/base/background--crise@2x-min.jpg);
  }
  .box--martini:after {
    background-image: url(../assets/images/base/glass--debuts@2x-min.jpg);
  }
  .box--margerita:after {
    background-image: url("../assets/images/base/glass--souffle@2x-min.jpg");
  }
  .addon--nav {
    background-image: url(../assets/images/base/landing--menu@2x-min.jpg);
  }
  .addon--message {
    background: url(../assets/images/base/landing--sound@2x-min.jpg);
    background-size: cover;
  }
}

@media only screen and (max-width: 360px) {
  body {
    font-size: 16px;
    line-height: 1.4;
  }
  .sansserif {
    font-size: 14px;
  }
  .btn--info {
    top: 15px;
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 22px;
  }
  .sansserif {
    font-size: 20px;
  }
  .nav__title {
    text-align: center;
  }
  .nav__list {
    all: unset;
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
  }
  .nav__content {
    all: unset;
  }
  .nav__content:before {
    all: unset;
  }
  .nav__content:after {
    all: unset;
  }
  .nav__content--active h2 {
    color: #E22323;
    font-weight: 800;
  }
  .nav__el {
    all: unset;
    position: relative;
    display: block;
    width: calc(50% - 20px);
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    border-right: 3px dotted #E22323;
    margin-right: -3px;
    clear: both;
    text-align: right;
    margin-bottom: 3px;
  }
  .nav__el--right {
    float: right;
    text-align: left;
    padding-left: 20px;
    padding-right: 0;
    border-right: 0;
    border-left: 3px dotted #E22323;
    clear: both;
  }
  .box--padding {
    padding: 80px 50px;
  }
  .box__content {
    width: 512px;
  }
  .box__content--next {
    width: 100%;
  }
  .box--martini:after {
    right: 100px;
  }
  .box--margerita:after {
    right: 100px;
  }
  .box--aside {
    min-height: 100vh;
    max-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .box--aside button {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .citation {
    width: 512px;
    margin: auto;
  }
  .recette {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .recette__background {
    height: 60vh;
  }
  .info__content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .info__top {
    height: 60vh;
  }
  .info__sub {
    left: 15%;
  }
  .btn--info {
    top: 25px;
    margin-left: 90%;
  }
  .aside__lists {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .aside__list {
    width: 45%;
  }
  .study button {
    display: none;
  }
  .study h2 {
    text-align: center;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .study h3 {
    margin: 30px 0px;
  }
  .study__intro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100vh;
    position: relative;
    margin: 0;
  }
  .study__intro .study__text {
    margin: auto;
  }
  .study__text {
    width: 80%;
    margin-top: 30px;
  }
  .study__text--center {
    margin: auto;
  }
  .study__typo {
    width: 80%;
  }
  .study__img {
    width: 80%;
    height: auto;
  }
  .study__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  body[data-page^="page-"] {
    overflow: auto;
  }
  body[data-page^="page-"] .nav__content {
    margin-left: 50%;
  }
  .study button {
    display: block;
  }
  .study h2 {
    font-size: 3em;
  }
  .study h3 {
    margin-bottom: 80px;
    font-size: 2em;
    white-space: nowrap;
  }
  .study__intro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
    width: 70ch;
    position: relative;
  }
  .study__intro .study__text {
    margin: auto;
  }
  .study__text {
    width: 50ch;
    margin: 0;
  }
  .study__text--center {
    width: 55ch;
    margin: auto;
  }
  .study__typo {
    width: 35%;
  }
  .study__img {
    width: 45%;
    height: auto;
  }
  .study__picture {
    margin-top: 0;
  }
  .study__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .study__content--alternate {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .study__contact {
    margin-top: 50px;
  }
  .aside h2 {
    font-size: 3.5em;
  }
  .aside__text {
    width: 70ch;
  }
  .aside__site {
    width: 70ch;
  }
  .aside__list {
    width: 36%;
  }
  .sansserif {
    font-size: 18px;
  }
  .box {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .box--colorDesktop {
    background: transparent;
  }
  .box__special {
    color: #fff;
  }
  .box__background {
    background-position: top center;
    margin: 0;
  }
  .box__background--intro {
    background-image: url(../assets/images/desktop/landing--intro-min.jpg);
    margin-left: -5%;
  }
  .box__background--debuts {
    background-image: url(../assets/images/desktop/landing--debuts-min.jpg);
  }
  .box__background--souffle {
    background-image: url(../assets/images/desktop/landing--souffle-min.jpg);
  }
  .box__background--jours {
    background-image: url(../assets/images/desktop/landing--jours-min.jpg);
  }
  .box__background--jerry {
    background-image: url(../assets/images/desktop/background--jerry-min.jpg);
  }
  .box__background--flair {
    background-image: url(../assets/images/desktop/background--flair-min.jpg);
  }
  .box__background--usa {
    background-image: url(../assets/images/desktop/background--usa-min.jpg);
  }
  .box__background--party {
    background-image: url(../assets/images/desktop/background--party-min.jpg);
    background-position: bottom;
  }
  .box__background--friends {
    background-image: url(../assets/images/desktop/background--friends-min.jpg);
  }
  .box__background--manhattan {
    background-image: url(../assets/images/desktop/background--manhattan-min.jpg);
  }
  .box__background--mary {
    background-position: center center;
  }
  .box__background--mode {
    background-position: center center;
  }
  .box__background--crise {
    background-position: center center;
  }
  .box__background--paris {
    background-position: center center;
  }
  .box__background--cuba {
    background-position: center center;
  }
  .box__background--hidden {
    display: block;
  }
  .box--martini:after {
    height: 50%;
    width: 30%;
    bottom: -10%;
  }
  .box--margerita:after {
    height: 50%;
    width: 30%;
    bottom: -10%;
  }
  .box__content--flair {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1000px;
  }
  .box__content--flair p {
    width: 50%;
  }
  .box__content--chapitre {
    width: 100%;
  }
  .box--next {
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
  }
  .box--white {
    color: #fff;
  }
  .box--white button {
    background-image: url(../assets/images/svg/svg--arrow--white.svg);
  }
  .box--padding {
    padding: 0;
  }
  .nav__title {
    display: none;
  }
  .nav__links {
    display: none;
  }
  .nav__container {
    display: block;
    height: 100vh;
    width: 60px;
  }
  .nav__list {
    all: initial;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav__list:before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAEUlEQVQYV2O4xmf8nwFMwAEAPggELf4HomYAAAAASUVORK5CYII=) repeat;
    bottom: 50px;
    content: "";
    display: block;
    left: -1px;
    position: absolute;
    top: 10px;
    width: 2px;
    height: 95%;
  }
  .nav__content {
    all: initial;
    opacity: 1;
    pointer-events: none;
    color: transparent;
    margin-bottom: 20px;
    background: #1f232b;
    margin-left: 40%;
    display: inline-block;
    padding: 20px 20px;
    position: relative;
    transition: transform .3s ease-in, color .3s .1s ease-out;
    transform: translateX(-70px) scaleX(0);
    transform-origin: center left;
  }
  .nav__content:before {
    content: '';
    position: absolute;
    left: -49px;
    top: -0.5px;
    width: 50px;
    height: 101.5%;
    -webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    background-color: #1f232b;
  }
  .nav__content p {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
  }
  .nav__content h2 {
    white-space: nowrap;
    color: #E22323;
  }
  .nav__content--active {
    color: #fff;
    transform: translateX(0px) scaleX(1);
    transition: transform .3s ease-out, color .3s .1s ease-in;
  }
  .nav__logo {
    width: 100%;
    height: 100%;
  }
  .nav__heaj {
    display: block;
    height: 30px;
    width: 105px;
    z-index: 5;
    position: absolute;
    left: 45px;
    bottom: 20px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
  }
  .nav__home {
    display: block;
    height: 30px;
    width: 76.5px;
    z-index: 5;
    position: absolute;
    left: 45px;
    top: 75px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
  }
  .nav__el {
    all: initial;
    position: relative;
  }
  .nav__el--right {
    all: initial;
    position: relative;
  }
  .nav__dots {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .nav__dots:before {
    background: #d60e33;
    border-radius: 50%;
    content: "";
    display: block;
    height: 12px;
    left: -6px;
    position: absolute;
    top: -3px;
    width: 12px;
  }
  .nav__dots--active:after {
    width: 16px;
    height: 16px;
    border: 2px solid #d60e33;
    border-radius: 50%;
    content: "";
    display: block;
    left: -10px;
    position: absolute;
    top: -7px;
  }
  .nav__progress {
    display: block;
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .nav__bar {
    height: 0%;
    background-color: #E22323;
  }
  .addon--info {
    width: 35%;
    right: 0;
    top: 0;
    left: auto;
  }
  .addon--recette {
    width: 35%;
    right: 0;
    top: 0;
    left: auto;
  }
  .addon--nav {
    all: initial;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(31, 35, 43, 0.94);
    z-index: 2;
    animation: closeSlideLeft .5s ease-out forwards;
  }
  .addon--message {
    background: url(../assets/images/desktop/landing--sound-min.jpg);
    background-size: cover;
  }
  .landing__head {
    width: 100%;
  }
  .landing__title {
    font-size: 4.5em;
  }
  .landing__sub {
    font-size: 1.5em;
  }
  .landing__scroll p:nth-child(1) {
    font-size: 1.5em;
  }
  .landing__scroll p:nth-child(2) {
    font-size: 2.5em;
  }
  .landing__chapitre h2 {
    font-size: 4.5em;
  }
  .landing__chapitre p {
    font-size: 1.5em;
  }
  .btn {
    transition: all .3s ease-in;
  }
  .btn--close:hover {
    transform: rotate(90deg);
    transition: all .3s ease-in;
  }
  .btn--nav {
    display: none;
  }
  .btn--music {
    left: auto;
    right: 10px;
  }
  .btn--music:hover {
    color: #f6f4f2;
    background-color: #000;
    transition: .3s all ease-in;
  }
  .flair {
    margin-bottom: 0;
    width: 45%;
  }
  .link {
    position: relative;
    transition: .3s all ease-in;
  }
  .link:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #E22323;
    transition: .3s all ease-in;
    transform-origin: center center;
    transform: scaleX(0.4);
  }
  .link:hover:before {
    height: 2px;
    transform: scaleX(1);
    transition: .3s all ease-in;
  }
  .more {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: .6em;
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f4f2;
  }
  .more__link {
    padding: 5px 20px;
  }
  .more__link:last-child {
    margin: 0;
  }
  .more__link:hover {
    color: #fff;
    background-color: #E22323;
  }
  .info__top {
    height: 40vh;
  }
  .recette__background {
    height: 40vh;
  }
  .rencontre__content {
    width: 100%;
    margin: auto;
  }
  .rencontre__title {
    font-size: 3em;
  }
  .message__logo {
    width: 100px;
    height: auto;
  }
  .message__content {
    width: 30%;
  }
  .citation--jours {
    color: #fff;
  }
  .video {
    display: block;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1050px), (min-resolution: 192dpi) and (min-width: 1050px) {
  .box__background--intro {
    background-image: url(../assets/images/desktop/landing--intro@2x-min.jpg);
  }
  .box__background--debuts {
    background-image: url(../assets/images/desktop/landing--debuts@2x-min.jpg);
  }
  .box__background--souffle {
    background-image: url(../assets/images/desktop/landing--souffle@2x-min.jpg);
  }
  .box__background--jours {
    background-image: url(../assets/images/desktop/landing--jours@2x-min.jpg);
  }
  .box__background--jerry {
    background-image: url(../assets/images/desktop/background--jerry@2x-min.jpg);
  }
  .box__background--flair {
    background-image: url(../assets/images/desktop/background--flair@2x-min.jpg);
  }
  .box__background--usa {
    background-image: url(../assets/images/desktop/background--usa@2x-min.jpg);
  }
  .box__background--party {
    background-image: url(../assets/images/desktop/background--party@2x-min.jpg);
  }
  .box__background--friends {
    background-image: url(../assets/images/desktop/background--friends@2x-min.jpg);
  }
  .box__background--manhattan {
    background-image: url(../assets/images/desktop/background--manhattan@2x-min.jpg);
  }
  .addon--message {
    background: url(../assets/images/desktop/landing--sound@2x-min.jpg);
    background-size: cover;
  }
}

/*# sourceMappingURL=app.css.map */
